.dashboard-container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #3c3c3c;
  color: #d1d1d1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-section h3, .sidebar h2 {
  color: #ffffff;
}

.sidebar-buttons button {
  background-color: #5a5a5a;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-buttons button:hover {
  background-color: #777777;
}

/* Main workspace */
.workspace {
  flex-grow: 1;
  background-color: #e6e6e6;
  padding: 20px;
}

.folder-grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.folder-item {
  width: 80px;
  height: 80px;
  background-color: #b0b0b0;
  border: 2px solid #7f8c8d;
  border-radius: 5px;
}

/* User info */
.user-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #3c3c3c;
}

.user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.back-button-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.styled-button {
  background-color: #5a5a5a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.styled-button:hover {
  background-color: #777777;
}

.back-button-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.styled-button {
  background-color: #5a5a5a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.styled-button:hover {
  background-color: #777777;
}
